* {
    position: relative;

    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    font-family: 'Roboto', sans-serif;
    text-align: center;
}


body,
html {
    padding: 0;
    margin: 0;
}

.content {
    margin: 0 auto;
    width: 1000px;
}

a {
    color: #00baff;
}
a:hover {
    text-decoration: none;
}

em {
    font-style: normal;
    color: #00baff;
}
.gray {
    background: #ededed;
}
.blue {
    background: #4AC3F0;
    color: white;
}

/*** HEADER ***/
header {
    color: white;
    background: #4ac3f0 url(i/head_bg.png);
}
header .content {
    width: 800px;
}
.head-title span {
    display: block;
}
.head-title .title-1 {
    padding-top: 50px;
    font-size: 48px;
    font-weight: bold;
}
.head-title .title-2 {
    font-size: 48px;
    font-weight: 300;
}
.head-title .title-3 {
     padding-top: 30px;
     font-size: 21px;
}
.head-title .title-4 {
    padding: 60px 0 130px 0;
    font-size: 32px;
    font-weight: bold;
}
.head-title .title-5 {
    padding: 60px 0 90px 0;
    font-size: 24px;
}
.head-title .title-6 {
    font-size: 48px;
    font-weight: 300;
    padding-top: 62px;
}

.head-icon {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    background: url(i/logo-icon.png) no-repeat;
}

/*** MAIN ***/

.main {
    color: #6d6d6d;
    margin-top: 100px;
}

.item {
    display: inline-block;
    vertical-align: top;
}
.items-2 .item {
    width: 47%;
    margin-right: 2%;
}

.items-3 .item {
    width: 31%;
    margin-right: 1%;
}

.items-4 .item {
    width: 23%;
    margin-right: 1%;
}
.items-5 .item {
    width: 18%;
    margin-right: 1%;
}

.items-2 .item:last-child
.items-3 .item:last-child,
.items-4 .item:last-child,
.items-5 .item:last-child {
    margin-right: 0;
}


.app_link {
    display: block;
    margin: 130px 0 30px 0;
    text-decoration: underline;
    font-size: 18px;
}
.app_link:hover {
    text-decoration: none;
}

.wish_link {
    margin: 30px auto 50px auto;
    display: inline-block;
    padding: 25px 75px;
    text-decoration: none;
    border: 3px solid #4ac3f0;
    font-size: 32px;
    font-weight: bold;

    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.wish_link:hover {
    color: white;
    background: #4ac3f0;
}
#wish {
    position: absolute;
}

.content_block {
    padding: 30px 0 80px 0;
}
.content_block:after {
    position: absolute;
    left: 20%;
    top: 100%;
    width: 60%;
    height: 1px;
    margin-top: -1px;
    content: "";
}
.gray .content_block:after {
    display: none;
}

.content_block .block_title {
    width: 80%;
    margin: 0 auto 60px auto;
    font-size: 32px;
}
.item-title {
    display: block;
    width: 70%;
    margin: 50px auto 0 auto;
    font-size: 18px;
}
.uses_block .item-title {
    margin-top: 20px;
    width: 90%;
}
.subscribe-block .item-title {
    width: 100%;
    font-size: 24px;
}
div.video {
    border-top: 1px solid #7d7d7d;
}
.video .item-title {
    width: 95%;
}

.number-circle {
    display: block;
    margin: 0px auto;
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 24px;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    color: white;
    background: #00baff;
}

.subscribe-block {
    margin-top: 40px;
}
.subscribe-block .note {
    color: #b6b6b6;
    font-size: 12px;
    font-style: italic;
    margin: 30px 0 10px 0;
}
.subscribe-form {
    margin-top: 25px;
}
.subscribe-form input,
.subscribe-form a {
    display: inline-block;
    top: 0;
}
.subscribe-form .email {
    width: 422px;
    height: 66px;
    text-align: left;
    font-size: 32px;
    text-indent: 25px;
    border: 3px solid #00baff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-right: none;
    vertical-align: top;
}
.subscribe-form .button {
    left: -6px;
    width: 308px;
    height: 74px;
    line-height: 74px;
    background: #278baf!important;
    border: none!important;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

/*** FOOTER ***/

footer {
    height: 137px;
    background: #28292b;
}
footer .content {
    height: 100%;
}
footer .item {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 14px;
}
footer a {
    display: block;
    top: 45%;
}
footer .line-2 a {
    top: 40%;
}